.container-fluid{
    padding-top:20px;
    padding-bottom: 30px;
    background-color: rgb(187, 176, 176);
}

.footer-header{
    text-align: center;
}

i{
    margin:20px 20px;
    font-size: 20px;
    cursor: pointer;
}

.footer-footer{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
