<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 footer-header">
            <h3>Connect</h3>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fas fa-envelope"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
        <div class="col-12 footer-footer">
            <h6>&copy; Copyright Medicare 2020-21, All rights reserved. In compliance with Drugs and Cosmetics Act, 1940 and Drugs and Cosmetics Rules, 1945</h6>
        </div>
    </div>
</div>
