.container-fluid{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: rosybrown;
}

.footer-header{
    text-align: center;
}

i{
    margin:20px 20px;
    font-size: 20px;
}

.footer-footer{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
