<hr>
<div class="about-us">
    <h1>About Medicare</h1>
    <h2>India’s leading digital consumer healthcare platform</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            Medicare brings to you an online platform, which can be accessed for all your health needs. We are trying to
            make healthcare a hassle-free experience for you. Get your allopathic, ayurvedic, homeopathic medicines,
            vitamins & nutrition supplements and other health-related products delivered at home.
        </div>
    </div>
</div>