.services .row{
    width: 100vw;
}
.services h1{
    text-align: center;
    text-shadow: 0px 0px 2px darkslateblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:30px;
}
.servicesCard{
    background-color: rgb(194, 207, 207);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin:10px 0px;
    padding: 40px 20px;
}
.servicesCard h6{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
