<hr>
<div class="services">
    <h1>Services</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>&#8226; 100 + Products Available</h2>
            </div>
            <div class="col-lg-12">
                <h2>&#8226; 2200 + Orders</h2>
            </div>
            <div class="col-lg-12">
                <h2>&#8226; 300 + Cities We Serve</h2>
            </div>
            <div class="col-lg-12">
                <h2>&#8226; Available 24/7</h2>
            </div>
        </div>
    </div>
</div>