<hr>
<div class="services">
    <h1>Services</h1>
    <div class="row">

        <div class="col-lg-3 servicesCard">
            <h5>100 +</h5>
            <h6>Products</h6>
        </div>

        <div class="col-lg-3 servicesCard">
            <h6>2500 +</h6>
            <h6>Orders</h6>
        </div>

        <div class="col-lg-3 servicesCard">
            <h6>300 +</h6>
            <h6>Cities We Serve</h6>
        </div>

        <div class="col-lg-3 servicesCard">
            <h6>Available 24/7</h6>
        </div>
    </div>
</div>