
Main Navbar

nav{
    padding:5px;
}
li{
    font-size: 18px;
    padding:5px;
}
.bg-black{
    background-color:rgb(16, 19, 19)
}
.logo a{
    text-decoration: none;
    color:white;
}
.logo h6{
    font-family: cursive;
}
.company_logo{
    height:35px;
    width:35px;
}
.navbar-brand{
    margin-left:20px;
    text-align:center;
}
.navbar-brand h4{
    font-family: 'ubuntu';
    font-size:18px;
    margin-bottom: 0px;
    padding:5px;
}
.navbar-brand h6{
    padding-top:0px;
    font-size: 8px;
}
.navbar-toggler{
    background-color:rgb(41, 49, 49)
}
.topSearchBar input,.topSearchBar button{
    background-color: black;
    color:white;
}
/* Botton & Inputbox */ 

.checkService{
    margin-left:10px;
}
.checkService input,.checkService button{
    display:inline-block;
}
.searchBox{
    height:32px;
    width:150px;
}
.searchBtn{
    width:30px;
    height:30px;
    border-style: none;
}
.navRightDiv{
    display:inline-block;
}
.myCart{
    border-radius: 10px;
    margin:0px 40px;
    width:40px;
    height: 25px;
    text-align: center;
}
.myCart a{
    color: black;
}
.myCart:hover{
    background-color:whitesmoke;
}
.myCart:active{
    background-color: rgb(201, 200, 200);
}


@media only screen and (max-width:414px){
    #loginBtn{
        font-size:12px;
        padding:3px;
    }
    #signupBtn{
        font-size:12px;
    }
    .controlBtn span{
        padding:0px 5px;
    }

}




/* after upgrading */

li a{
    cursor: pointer;
}

#admin_panel{
    border: 1px solid white;
}

#admin_panel:hover{
    background-color: rgb(8, 68, 68);
}






/* update */

.smallNavbar .col-lg-8{
    padding:5px 0px;
    background-color: darkgrey;
}

.smallNavbar .col-lg-4{
    /* padding:4px 0px 3px 0px; */
    background-color: darkgrey;
}

.smallNavbarItems{
    padding-top:7px;
    padding-bottom:5px;
    text-align: center;
}

.smallNavbarItems .loginsignup{
    text-decoration: none;
    color: darkred;
    font-weight: 200;
    font-family:'ubuntu';
    letter-spacing:1px;
    border-radius: 10px;
    padding: 5px 10px;
    /* box-shadow: 0px 0px 5px darkslateblue; */
    border:1px solid black;
    cursor: pointer;
}

.smallNavbarItems .loginsignup:hover{
    color: rgb(53, 0, 0);
    background-color: rgb(197, 190, 235);
}

#categoryList{
    text-decoration: none;
    color: black;
}