<!-- navbar -->
<div class="mybar">
  <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <a class="navbar-brand text-white" href="#">
      <div class="logo">
        <a routerLink="/main">
          <img class="company_logo" src="assets/company_logo.png">
          <h4>Medicare</h4>
          <h6>Be fearless</h6>
        </a>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">




      <ul class="navbar-nav ml-auto">


        <li class="nav-item active">
          <button id="admin_panel" class="btn success text-white" *ngIf="!isAdmin" routerLink="/main">Admin
            Panel</button>
        </li>


        <li class="nav-item active">
          <a style="color:white" class="nav-link" *ngIf="session_set" routerLink="/main">Welcome
            <strong>{{username}}</strong></a>
        </li>


        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/main">Home <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark" href="#" *ngFor="let i of category">
              <a id="categoryList"routerLink="/cat/{{i._id}}">
                {{i.name}}
              </a>
            </a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link text-white" routerLink="/contact-us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" *ngIf="session_set" routerLink="/myorder/{{userid}}">My Orders</a>
        </li>

      </ul>

    </div>
  </nav>
</div>


<!-- small navbar -->

<div class="container-fluid">
<div class="row smallNavbar">
  <div class="col-lg-8">
    <marquee width="100%" direction="left">Feel free to connect to us for any assistance or consulting during the
      lockdown
      , Shipment may be delayed due to Covid-19 lockdown
    </marquee>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-4 smallNavbarItems">
        <a routerLink="/cart">
          <img height="20px" width="20px" src="assets/shopping_cart.png" alt="shopping_cart">
        </a>
      </div>
      <div class="col-lg-4 smallNavbarItems" *ngIf="!session_set" >
        <a class="loginsignup" routerLink="/login">
          <!-- <button class="btn btn-sm"> -->
            Login
          
        </a>
      </div>
      <div class="col-lg-4 smallNavbarItems" *ngIf="!session_set" >
        <a class="loginsignup" routerLink="/signup">
          <!-- <button class="btn btn-sm"> -->
            Sign Up
          <!-- </button> -->
        </a>
      </div>
      <div class="col-lg-4 smallNavbarItems" *ngIf="session_set" >
        <a class="loginsignup" (click)="logout()">
          <!-- <button class="btn-sm"> -->
            Logout
          <!-- </button> -->
        </a>
      </div>
    </div>
  </div>
</div>
</div>