<div class="container">
    <div class="row">
        <div class="col-6 order-header">
            <h2>Order Details :</h2>
        </div>
        <div class="col-6 order-header">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4" id="order-img-div">
            <img id="order-img" src="./assets/dabur_oil.jpg">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <span>Dabur Oil</span>
                </div>
                <div class="col-12">
                    <h5>Arrives Wed JAN 29</h5>
                </div>
                <div class="col-12">
                    <span>Status : Shipped</span>
                </div>
            </div>
            <div class="row" id="order-id-date">
                <div class="col-12">
                    <h6>Order ID : UYEB8735322</h6>
                </div>
                <div class="col-12">
                    <h6>Order Placed : JAN 23, 2020</h6>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h6>Quantity : 2</h6>
                </div>
                <div class="col-12">
                    <h6>Total Amount : &#8377; 300</h6>
                </div>
                <div class="col-12">
                    <p>
                    Address : Shiv-Shivneri Apt, Wind - D, Block No. 2, Adarsh Nagar, Borgad, Nashik - 422004, Maharashtra
                    </p>
                </div>
                <div class="col-12">
                    <button class="btn btn-outline-primary btn-sm">
                        Cancel Order
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>