<div class="container">
    <div class="row">
        <div class="col-6 order-header">
            <h2>Order Details :</h2>
        </div>
        <div class="col-6 order-header">
        </div>
    </div>
    <hr>
    <table class="table table-bordered">
    <tr>
    <div class="row main-list-box" *ngFor="let i of orders; let n = index">
        <div class="col-4" id="order-img-div">
            <img id="order-img" src="./assets/orderlist.png">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h6><strong>Product List : </strong></h6>
                    <p *ngFor="let j of i.products; let m = index">
                        {{m+1}}. {{j.name}}<br>
                        Quantity : {{j.count}}
                    </p>
                </div>
                <div class="col-12">
                    <span><strong>Status : </strong>{{i.status}}</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row" id="order-id-date">
                <div class="col-12">
                    <h6>Order ID : {{i._id}}</h6>
                </div>
                <div class="col-12">
                    <h6>Order Placed : {{i.createdAt}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 id="arrive-date">Arrives Wed JUL 29</h5>
                </div>
                <div class="col-12">
                    <h6>Total Amount : &#8377; {{i.amount}}</h6>
                </div>
                <div class="col-12">
                    <p>
                    Address : {{i.address}}
                    </p>
                </div>
                <div class="col-12">
                    <button (click)="cancelOrder(n)" class="btn btn-outline-primary btn-sm">
                        Cancel Order
                    </button>
                </div>
            </div>
        </div>
    </div>
    </tr>
    </table>
</div>