.order-header{
    padding:15px 15px;
}
#order-img-div{
    text-align: center;
}

#order-img{
    max-width: 50%;
}

#order-id-date{
    color: darkslategrey;
}

.main-list-box{
    padding-top:15px;
    padding-bottom:15px;
}
#arrive-date{
    color: rgb(2, 182, 2);
}